<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:h="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Заказы</title>
    <th:block th:insert="~{header :: header}"></th:block>
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/table.css">
    <link rel="stylesheet" href="/css/common/basic.css">
    <link rel="stylesheet" href="/css/userPage.css">
</head>

<body>

<h1>Персональная страница</h1>
<h3>Логин: <span th:text="${user.getLogin()}"></span></h3>
<h3>ФИО: <span th:text="${user.getUsername()}"></span></h3>
<h3>Номер телефона: +375 <span th:text="${user.getPhoneNumber()}"></span></h3>
<h3>Роль: <span th:text="${user.getRole()}"></span></h3>
<table>
    <tr>
        <th width="5%">Id</th>
        <th width="40%">Товар</th>
        <th width="35%">Дата</th>
        <th width="20%">Стоимость</th>
    </tr>
    <tr th:each="order, orderIndex : ${orders}">
        <td th:text="${order.getId()}">id</td>
        <td>
            <a th:href="@{/item/info/{id}(id=${order.getItem().getId()})}"
               th:text="${order.getItem().getName()}">item</a>
        </td>
        <td>
            <span hidden="hidden" th:id="'beginDate_' + ${orderIndex.index}"
                  th:text="${order.getReservation().getBeginDate()}">begin</span>
            <span hidden="hidden" th:id="'endDate_' + ${orderIndex.index}"
                  th:text="${order.getReservation().getEndDate()}">end</span>
            <span th:text="${#temporals.format(order.getReservation().getBeginDate(), 'dd.MM.yyyy')}">beginDate</span>
            -
            <span th:text="${#temporals.format(order.getReservation().getEndDate(), 'dd.MM.yyyy')}">endDate</span>
        </td>
        <td th:id="'price_' + ${orderIndex.index}" th:text="${order.getItem().getPrice()}">price</td>
    </tr>
</table>

</body>
<script src="/scripts/userPage.js"></script>
</html>