<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <th:block th:insert="~{header :: header}"></th:block>
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/table.css">
    <link rel="stylesheet" href="/css/common/basic.css">
    <link rel="stylesheet" href="/css/users.css">
</head>

<body>

<h1>Пользователи</h1>
<table>
    <tr>
        <th width="20%">Логин</th>
        <th width="20%">Имя</th>
        <th width="15%">Телефон</th>
        <th width="5%">Роль</th>
        <th width="10%">Изменить роль</th>
        <th width="10%">Удалить</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getLogin()}">login</td>
        <td th:text="${user.getUsername()}">username</td>
        <td>
            +375<span th:text="${user.getPhoneNumber()}">phoneNumber</span>
        </td>
        <td th:text="${user.getRole()}">role</td>
        <td>
            <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Изменить">
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{users/{id}(id=${user.getId()})}">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
</table>

</body>
</html>