body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    margin: 10px 0 10px 0;
}

.error-message {
    color: red;
}