<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:h="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Заказы</title>
    <th:block th:insert="~{header :: header}"></th:block>
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/table.css">
    <link rel="stylesheet" href="/css/common/basic.css">
    <link rel="stylesheet" href="/css/orders.css">
</head>

<body>

<h1>Заказы</h1>
<table>
    <tr>
        <th width="2%">Id</th>
        <th width="40%">Товар</th>
        <th width="20%">Дата</th>
        <th width="8%">Стоимость</th>
        <th width="22%">Пользователь</th>
        <th width="8%">Удалить</th>
    </tr>
    <tr th:each="order, orderIndex : ${orders}">
        <td th:text="${order.getId()}">id</td>
        <td>
            <a th:href="@{/item/info/{id}(id=${order.getItem().getId()})}" th:text="${order.getItem().getName()}">item</a>
        </td>
        <td>
            <span hidden="hidden" th:id="'beginDate_' + ${orderIndex.index}" th:text="${order.getReservation().getBeginDate()}">begin</span>
            <span hidden="hidden" th:id="'endDate_' + ${orderIndex.index}" th:text="${order.getReservation().getEndDate()}">end</span>
            <span th:text="${#temporals.format(order.getReservation().getBeginDate(), 'dd.MM.yyyy')}">beginDate</span>
            -
            <span th:text="${#temporals.format(order.getReservation().getEndDate(), 'dd.MM.yyyy')}">endDate</span>
        </td>
        <td th:id="'price_' + ${orderIndex.index}" th:text="${order.getItem().getPrice()}">price</td>
        <td th:text="${order.getUser().getLogin()}">user</td>
        <td>
            <form th:method="DELETE" th:action="@{/orders/{id}(id=${order.getId()})}">
                <input class="submit" type="submit" value="Удалить">
            </form>
        </td>
    </tr>
</table>

</body>
<script src="/scripts/orders.js"></script>
</html>